<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue JS 2 -->
    <script src="./vue.min.js"></script>
    <!-- Scripts -->
    <script src="./app.js" defer></script>
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="style.css">
    <title>Techno</title>
</head>
<body>
    <div id="App">
        <header class="header">
            <img src="./assets/techno.svg" alt="Logo da Techno" class="logo">

            <div class="carrinho_menu">{{carrinhoTotal | numeroPreco}} | {{carrinho.length}}</div>

            <ul>
                <li v-for="({id, nome, preco}, index) in carrinho" :key="id + '_' + index">
                    <p>{{nome}}</p>
                    <button @click="removerItem(index)" >X</button>
                </li>
            </ul>
        </header>

        <section class="produtos">
            <div
                v-for="({ id, img, nome, preco }) in produtos"
                :key="id"
                @click="abrirModal(id)"
                class="produto"
            >
                <img :src="img" :alt="nome" class="produto_img" />

                <div class="produto_info">
                    <span class="produto_preco">{{preco | numeroPreco}}</span>
                    <h2 class="produto_titulo">{{nome}}</h2>
                </div>
            </div>
        </section>

        <section class="modal" v-if="produto" @click="fecharModal">
            <div class="modal_container">
                <div class="modal_img">
                    <img :src="produto.img" :alt="produto.nome">
                </div>

                <div class="modal_dados">
                    <button @click="produto = null" class="modal_fechar">X</button>
                    <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
                    <h2 class="modal_titulo">{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>

                    <button v-if="produto.estoque > 0" class="modal_btn" @click="adicionarItem">Adicionar Item</button>
                    <button v-else class="modal_btn" disabled>Item Esgotado</button>
                </div>
    
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
    
                    <ul>
                        <li v-for="({ descricao, nome, estrelas }) in produto.avaliacoes" class="avaliacao">
                            <p class="avaliacao_descricao">{{descricao}}</p>
                            <p class="avaliacao_usuario">{{nome}} | {{estrelas}} estrelas</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <div v-if="mensagemAlerta" class="alerta">
            <p class="alerta_mensagem">{{mensagemAlerta}}</p>
        </div>
    </div>
</body>
</html>